
body{
	font-family: 'Open Sans', sans-serif;
}


/**
BACKGROUND
 */
#background {
	background-image: url(../images/under_bridge.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#background h1 {
	color: white;
	font-size: 3.5rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 7rem 0 2rem 0;
}

#background header{
	padding: 3rem 0;
}

#background header #logo{
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	text-decoration: none;
}

#background header nav{
	float: right;
}

#background header nav ul{
	list-style: none;
	margin: 0;
}

#background header nav ul li{
	display: inline;
	margin-left: 2.5rem;
}

#background header nav ul li a{
	color: white;
	text-decoration: none;
}



/**
WRAPPER
 */
.wrapper_wide {
	width: 90%;
	margin: 0 auto;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_skinny {
	width: 50%;
	margin: 0 auto;
}

body{
	font-family: 'Open Sans', sans-serif;
}

/**
BUTTON COLORS
 */
.button{
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	outline: none;
	border: none;
	display: inline-block;
	min-width: 7.5rem;
}

.button_highlight {
	background: #d2674e;
	transition: background .3s ease-in-out;
}

.button_highlight:hover{
	background: #b75943;
}

.button_white {
	background: white;
	color: #22292e;
	transition: background .3s ease-in-out;
}

.button_white:hover{
	background: #e0dbdb;
}


.button_block{
	display: block;
	margin: 0 auto;
}

#background a.button{
	margin: 1.5rem 2.5% 0 2.5%;
}

/**
CLEAR FIX
 */
 .cf:before, .cf:after{
 	content: " ";
 	display: table;
 }

 .cf:after{
 	clear:both;
 }


/**
PAGINATION
 */
.pagination:before, .pagination:after{
	content: " ";
	display: table;
}

.pagination:after{
	clear: both;
}

.pagination{
	text-align: center;
	margin: 1rem 0 5rem 0;
}

.pagination .current{
	background: #d2674e;
	color: white;
}

.pagination a, .previous_page, .current, .next_page{
	padding: 0.75rem 1rem;
	margin: 0 .25rem;
	border-radius: .15rem;
	line-height: 1.25;
	text-decoration: none;
	background: #EDEFF5;
	font-weight: 700;
	font-size: .7rem;
	font-style: normal;
	color: black;
}

.pagination a:hover, .previous_page:hover, .current:hover, .next_page:hover{
	background: #d2674e;
	color: white;
}

.pagination .disabled{
	color: #C0C0C0;
}

.pagination .disabled:hover{
	color: #C0C0C0;
	background: #EDEFF5;	
}




/**
MAIN HEADER
 */
#main_header{
	color: ;
	background: white;
	padding: 2.5rem 0;
}

#main_header #logo{
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
	text-decoration: none;
}

#main_header nav{
	float: right;
}

#main_header nav ul{
	list-style: none;
	margin: 0;
}

#main_header nav ul li{
	display: inline;
	margin-left: 2.5rem;
}

#main_header nav ul li a{
	color: black;
	text-decoration: none;
}


/**
BANNER
 */

#banner{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 4rem;
}

#banner h1{
	text-align: center;
	color: white;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
	padding: 8rem 0;
}

.companies_banner{
	background-image: url(../images/staring_lake.jpg);
}

.sign_in_banner{
	background-image: url(../images/tea_break.jpg);
}

.sign_up_banner{
	background-image: url(../images/hipster_desk.jpg);
}


#show_banner{
	background: gray;
	text-align: center;
	padding: 5rem 0;
}

#show_banner h1{
	font-size: 2.5rem;
	font-weight: 300;
	color: white;
	margin: 0 0 .5rem 0;
}

#show_banner .description{
	width: 85%;
	margin: 0 auto 2rem auto;
	line-height: 1.75rem;
	color: white;
}

#show_banner .website_link{
	font-size: .7rem;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	color: white;
	display: inline;
	background: #d2674e;
	border-radius: 2rem;
	padding: .5rem 1rem;
	margin: 0 .5rem;
	text-decoration: none;
}


#show_banner .website_link:hover{
	background: #b75943;
}

#breadcrumb{
	padding: 1rem 0;
	text-align: center;
	border-bottom: 1px solid lightgray;
	font-weight: 700;
	font-size: .7rem;

}

#breadcrumb a{
	text-decoration: none;	
	color: gray;
}

#breadcrumb span{
	margin: 0 .5rem;
}

#jobs{
	padding: 3rem 0;
}

#jobs ul{
	list-style: none;
	padding-left: 0;
}

#jobs ul li{
	padding-bottom: 2rem;
	border-bottom: 1px solid gray;
	margin-bottom: 2rem;
}

#jobs ul li:last-child{
	border-bottom: none;
}

#jobs ul li .job_thumbnail{
	width: 22%;
	float: left;
}

#jobs ul li .job_thumbnail img{
	width: 10rem;
	max-width: 100%;
	border-radius: .35rem;
}

#jobs ul li .job_overview{
	width: 76.5%;
	float: left;
	margin-left: 1.5%;
}

#jobs ul li .job_overview h2 a{
	color: black;
	text-decoration: none;
}

#jobs ul li .job_overview .description{
	color: black;

}


#jobs ul li .authorized_links{
	font-weight: 700;
	font-size: .8rem;
}

#jobs ul li .authorized_links a{
	color: #d2674e;
	text-decoration: none;
	margin-right: 1rem;
}





#job_content{
	padding: 4rem 0;
	margin-bottom: 4rem;
	border-bottom: 1px solid lightgray;
}


#job_content .current_job_thumbnail{
	display: block;
	margin: 0 auto 2rem auto;
	width: 10rem;
	max-width: 100%;
	border-radius: .35rem;
}

#job_content h2{
	font-size: 1.5rem;
	text-align: center;
}

#job_content .description{
	text-align: center;
	font-size: .9rem;
	line-height: 1.7;
}




/**
DASHBOARD
 */

#links {
	padding: 2rem 0;
}

#links ul{
	list-style: none;
	padding: 1rem 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid lightgray;
}

#links ul li{
	display: inline;
	margin-right: 1rem;
	font-weight: 700;
}

#links ul li a{
	text-decoration: none;
	color: black;
}

#links ul li a:hover{
	color: #d2674e;
}

#links .current_dashboard{
	color: #d2674e;	
}



/**
SIGN IN / SIGN UP
 */


.field{
	margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea{
	width: 100%;
	height: 2.5rem;
	padding: .25rem 1rem;
	background: #edeff5;
	border: 1px solid lightgray;
	border-radius: .35rem;
	margin-top: .5rem;
}

textarea{
	min-height: 8rem;
	margin-top: .5rem !important;
}

#form{
	padding: 0 0 5rem 0;

}
