		<div id="background">
			<header class="cf">
				<div class="wrapper_wide">
					<a href="#" id="logo">JHunt</a>
					<nav>
						<ul>
							<li><a href="#">Explore</a></li>
							<li><a href="#">Login</a></li>
							<li><a href="#">Sign Up</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<div class="wrapper_skinny">
				<h1>Meritocratic job searching</h1>
				<a href="#" class="button button_highlight">Enroll Your Company</a>
				<a href="#" class="button button_white">Find a Job</a>			
			</div>
		</div>	